/* =========================
   FONT IMPORTS
========================= */

/* Borel Regular (Google Font) */
@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");

/* =========================
   GLOBAL RESET
========================= */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* =========================
   GLOBAL FONT
========================= */

html,
body {
    font-family: "Gill Sans MT", "Gill Sans", Calibri, Arial, sans-serif;
    color: #000;
    background-color: #fff;
}

/* =========================
   SPAN FONT
========================= */

span {
    font-family: "Borel", cursive;
}

/* =========================
   LINKS
========================= */

a {
    text-decoration: none;
    color: inherit;
    font-family: "Gill Sans MT", "Gill Sans", Calibri, Arial, sans-serif;
}

/* =========================
   SMOOTH SCROLL
========================= */

html {
    scroll-behavior: smooth;
}

h1,
h2 {
    font-family: "Gill Sans MT", "Gill Sans", Calibri, Arial, sans-serif;
}

h2 {
    font-family: "Gill Sans MT", "Gill Sans", Calibri, Arial, sans-serif;
    color: #000;
}

p {

    font-family: "Gill Sans MT", "Gill Sans", Calibri, Arial, sans-serif;

}


/* Apple segmented spinner */
.apple-spinner {
    position: relative;
    width: 40px;
    height: 40px;
}

.apple-spinner div {
    transform-origin: 20px 20px;
    animation: appleFade 1.2s linear infinite;
}

.apple-spinner div::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 18px;
    width: 4px;
    height: 10px;
    border-radius: 4px;
    background: #000;
}

.apple-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.apple-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.apple-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.apple-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.apple-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.apple-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.apple-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.apple-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.apple-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.apple-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.apple-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.apple-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes appleFade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.15;
    }
}