<footer class="w-full border-t" style="background-color:#DDDDDD;">
    <div class=" px-10 py-4 flex flex-col md:flex-row items-center justify-between gap-4">

        <!-- LEFT : MENU -->
        <nav class="flex gap-8 text-sm text-gray-800">
            <a href="/index.html" class="hover:text-black">Home</a>
            <a href="/about.html" class="hover:text-black">About</a>
            <a href="/service.html" class="hover:text-black">Service</a>
            <a href="/gallery.html" class="hover:text-black">Gallery</a>
            <a href="/contact.html" class="hover:text-black">Contact</a>
        </nav>

        <!-- RIGHT : COPYRIGHT -->
        <p class="text-sm text-gray-700">
            © Copyright Chatta Events
        </p>

    </div>
</footer>